In [7]:
import pandas as pd
import numpy as np
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [3]:
df = pd.read_excel('comments_v1.6.xlsx')

In [ ]:
df.info()

#### remove neutral rows

In [ ]:
df = df.loc[df['Label'] != 0]

In [ ]:
df

In [ ]:
df['Text'] = df['Text'].str.lower()
df['Text'] = df['Text'].apply(lambda x: re.sub('[^a-zA-Z \n]','',x))

In [ ]:
tokens = df['Text'].apply(lambda x: nltk.word_tokenize(x))

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

In [ ]:
def removeStopWord (sentence,stop_words):
    newSentence = []
    for word in sentence:
        if word not in stop_words:
            newSentence.append(word)
    return newSentence

In [ ]:
removeStopWord = tokens.apply(lambda x: removeStopWord(x,stop_words))

In [ ]:
filteredDf = df.merge(removeStopWord,left_index=True,right_index=True)

In [ ]:
filteredDf = filteredDf[['Text_y','Label']]

In [ ]:
filteredDf.to_csv('Cleaned_data.csv')

In [5]:
def removeStopWord (sentence,stop_words):
    newSentence = []
    for word in sentence:
        if word not in stop_words:
            newSentence.append(word)
    return newSentence


def dataClean(s):
    '''
    s: Text Series
    return filtered tokenzied and removed stop word series
    '''
    s = s.str.lower()
    s = s.apply(lambda x: re.sub('[^a-zA-Z \n]','',x))
    tokens = s.apply(lambda x: nltk.word_tokenize(x))
    stop_words = set(stopwords.words('english'))
    filteredS = tokens.apply(lambda x: removeStopWord(x,stop_words))
    return filteredS

In [23]:
s = dataClean(df['Text'])
s = s.astype('string')

In [25]:
vectorizer = CountVectorizer(max_features=1500)
X = vectorizer.fit_transform(s).toarray()

tfidfconverter = TfidfTransformer()
X = tfidfconverter.fit_transform(X).toarray()

In [26]:
X

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.70710678, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.67480635, 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [27]:
df

                               Text  Label
0    A nice selection for breakfast      1
1                       Abit pricey     -1
2                          Absolute      1
3    After 2 hour i recive my order     -1
4                           alright      1
..                              ...    ...
764             Yummy and saucyðŸ‘Œ      1
765                      Yummy food      1
766           Yummy food thanksðŸ¤©      1
767                       Yumy yumy      1
768                        Yumyyyyy      1

[769 rows x 2 columns]