In [71]:
import pandas as pd
import numpy as np
import nltk
import re

In [72]:
df = pd.read_excel('comments_v1.6.xlsx')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769 entries, 0 to 768
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    769 non-null    object
 1   Label   769 non-null    int64
dtypes: int64(1), object(1)
memory usage: 12.1+ KB

#### remove neutral rows

In [74]:
df = df.loc[df['Label'] != 0]

In [75]:
df

                               Text  Label
0    A nice selection for breakfast      1
1                       Abit pricey     -1
2                          Absolute      1
3    After 2 hour i recive my order     -1
4                           alright      1
..                              ...    ...
764             Yummy and saucyðŸ‘Œ      1
765                      Yummy food      1
766           Yummy food thanksðŸ¤©      1
767                       Yumy yumy      1
768                        Yumyyyyy      1

[708 rows x 2 columns]

In [79]:
df['Text'] = df['Text'].str.lower()
df['Text'] = df['Text'].apply(lambda x: re.sub('[^a-zA-Z \n]','',x))

In [80]:
tokens = df['Text'].apply(lambda x: nltk.word_tokenize(x))

In [81]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))

In [82]:
def removeStopWord (sentence,stop_words):
    newSentence = []
    for word in sentence:
        if word not in stop_words:
            newSentence.append(word)
    return newSentence

In [83]:
removeStopWord = tokens.apply(lambda x: removeStopWord(x,stop_words))

In [84]:
filteredDf = df.merge(removeStopWord,left_index=True,right_index=True)

In [85]:
filteredDf = filteredDf[['Text_y','Label']]

In [86]:
filteredDf.to_csv('Cleaned_data.csv')